{{define "layout"}}
<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <link href="/static/resources/ui/css/common/fontawesome.all.css" rel="stylesheet"  type="text/css">
        <link href="/static/resources/ui/css/common/fontawesome.css" rel="stylesheet"  type="text/css">
        <link href="/static/resources/ui/css/common/github.css" rel="stylesheet" type="text/css">
        <link href="/static/resources/ui/css/pico.css" rel="stylesheet" type="text/css">
        <link href="/static/resources/ui/css/custom.css" rel="stylesheet" type="text/css">

        <script src="/static/resources/ui/js/main.js" async></script>
        <title>
            {{template "title" .}} - XSServe UI
        </title>
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                  <li><strong><a href="/dashboard">XSServe"></a></strong></li>
                </ul>
                <ul>
                  <li><a href="/dashboard">📊 Dashboard</a></li>
                  <li><a href="/triggers">🎯 Triggers</a></li>
                  <li><a href="/payloads">📦 Payload</a></li>
                  <li><a href="/about">❔ About</a></li>
                </ul>
            </nav>
        </header>

        <main class="container">
            {{template "main" .}}
        </main>
        
        <footer class="container">
            <strong>Copyright &copy; 2021 - <script>document.write(new Date().getFullYear());</script> | <a href="https://github.com/thatsn0tmysite/xsserve" style="color: #6441a5;">xsserve</a></strong>
        </footer>
    </body>
</html>
{{end}}
