{{define "layout"}}
<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        
        <link rel="stylesheet" href="/static/resources/ui/css/style.css"> 
        <script src="/static/resources/ui/js/main.js" async></script>

        <title>
            {{template "title" .}} - XSServe UI
        </title>
    </head>

    <body>
        <header>
        </header>
        
        <nav class="sidebar">
            <a class="title" href="/dashboard"> XSServe&quot;&gt; </a>
            <a href="/dashboard">📊 Dashboard</a>
            <a href="/triggers">🎯 Triggers</a>
            <a href="/payloads">📦 Payloads</a>
            <a href="#about:put:github::link">❔ About</a>
        </nav>

        <main class="content">
            {{template "main" .}}
        </main>

        <footer>

        </footer>

    </body>
</html>
{{end}}