{{template "layout" .}}
{{define "title"}}📦 Payloads{{end}}

{{define "main"}}
    <h2>📦 Payloads</h2>
    <p>Here is a list of pre-made payloads, for the lazy ones!</p>
    <p><a href="" data-target="add-payload-modal" onClick="toggleModal(event)">➕ Add Payload</a></p>
    <dialog id="add-payload-modal">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="add-payload-modal" onClick="toggleModal(event)"></a>
            <h3>Add a new payload</h3>

            <p>
                Cras sit amet maximus risus. 
                Pellentesque sodales odio sit amet augue finibus pellentesque. 
                Nullam finibus risus non semper euismod.
            </p>

            <footer>
                <a href="#cancel" role="button" class="secondary" data-target="add-payload-modal" onClick="toggleModal(event)"> Cancel </a>
                <a href="#confirm" role="button" data-target="add-payload-modal" onClick="toggleModal(event)"> Confirm </a>
            </footer>
        </article>
    </dialog>

    <table>
        <tr>
            <th>Description</th>
            <th>Payload</th>
            <th>Actions</th>
        </tr>
        {{range $payload := .}}
        <tr>
            <td>{{$payload.Description}}</td>
            <td><input class="input" type="text" value="{{$payload.Code}}"></td>
            <td>
                <button type="button" data-tooltip="Copy" onclick="copyToClipboard(this.parentNode.parentNode.getElementsByTagName('input')[0])">📄</button>
                <button type="button" data-tooltip="Remove payload" onclick="window.location.href='/payloads/delete?id={{$payload.ID}}'"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{end}}
      </table>
{{end}}