{{template "layout" .}}
{{define "title"}}📦 Payloads{{end}}

{{define "main"}}
    <h2>📦 Payloads</h2>
    <p>Here is a list of pre-made payloads, for the lazy ones!</p>
    <p><a href="#needsmodal">➕ Add Payload</a></p>
    <table class="table table-dark">
        <tr>
            <th>Description</th>
            <th>Payload</th>
            <th>Actions</th>
        </tr>
        {{range $payload := .}}
        <tr>
            <td>{{$payload.Description}}</td>
            <td><input class="input" type="text" value="{{$payload.Code}}"></td>
            <td>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy" onclick="copyToClipboard(this.parentNode.parentNode.getElementsByTagName('input')[0])">📄</button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove payload" onclick="window.location.href='/payloads/delete?id={{$payload.ID}}'"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{end}}
      </table>
{{end}}