{{template "layout" .}}
{{define "title"}}🎯 Triggers{{end}}

{{define "main"}}
    <h2>🎯 Triggers</h2>
    <p>List of triggered payloads.</p>
    <table>
        <tr>
            <th>Date</th>
            <th>Host</th>
            <th>Cookies</th>
            <th>Payload</th>
            <th>URI</th>
            <th>Screenshot</th>
            <th>Actions</th>
        </tr>
        {{range $trigger := .}}
        <tr>
            <td>{{$trigger.Date}}</td>
            <td>{{$trigger.Host}}</td>
            <td>
                <ul>
                {{range $cookie := $trigger.Cookies}}
                    <li> <b>{{$cookie.Name}}</b> = {{$cookie.Value}}</li>
                {{end}}
                </ul>
            </td>
            <td>{{$trigger.Payload.Code}}</td>
            <td><a href="{{$trigger.URI}}">{{$trigger.URI}}</a></td>
            <td><a href="/get/screenshot?id={{$trigger.ID}}"><img widht="200px" height="200px" src="/get/screenshot?id={{$trigger.ID}}"></a></td>
            <td>
                <a href="/report?id={{$trigger.ID}}" class="tooltip">📄
                    <span class="tooltiptext">View report</span>
                </a>
            </td>
        </tr>
        {{end}}
      </table>
{{end}}