#copy-box {
    position: absolute;
    top: 0px;
    margin-left: 50px;
    z-index: 100;
    width: 420px;
    border-radius: 3px;
}
#copy-box-input {
    width: 400px;
}
.label-copy {
    border-radius: 3px;
    cursor: pointer;
}